.root {
  flex-shrink: 0;
  z-index: 10;
}

.bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 22px;
  padding-inline: 0;
  max-width: 1920px;
  margin: 0 auto;

  @media (max-width: 2000px) {
    padding-inline: 40px;
  }

  @media (max-width: 768px) {
    padding-block: 20px;
    padding-inline: 16px;
  }
}

.logoLink {
  display: block;
}

.logo {
  display: block;

  @media (max-width: 500px) {
    width: 146px;
    height: 32px;
  }
}

.ctaButton {
  @media (max-width: 500px) {
    padding: 8px 12px;
    border-radius: 14px;
    font-size: 18px;
  }
}
